.winner {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.winner_title {
  display: flex;
  justify-content: center;
}

.button_container {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.button_container_voter {
  display: flex;
  justify-content: center;
  width: 100%;
}

.card_container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 35em) {
  .winner {
    width: 85%;
  }
}
